backup/
inference_data/*.jpg
inference_data/*.png
inference_data/*.mp4
outputs/
*pycache*
*.pth
check_log.txt
loss.png
accuracy.png

# VOC text file for images and labels.
2007_test.txt
2007_test_labels.txt
2007_train.txt
2007_val.txt
2012_train.txt
2012_val.txt
train_labels.txt
